*@font-face {
    font-family: "OpenSans";
    src: url('../font/OpenSans.ttf');
    }

body {
	font-family: 'Open Sans', sans-serif;
 	margin: 0;
 	padding: 0;
    box-sizing: border-box;
}

p {
	font-size: 14px;
    line-height: 20px;
    color: #798285;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none; 
}

 /**{ border:1px solid red; box-sizing:border-box; }
*/
.menu, .item-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 17px;
	color: #727272;
	padding: 0;
	margin: 0;
}

.menu {
	width: 100%;
}

.item-menu {
	padding: 24px 30px 18px 0;
}

.item1 {
	padding-right: 0px;
}

.item-menu:hover {
	color: #000;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;	
}

.box-menu {
    width: 100%;
    max-width: 2000px;
    height: 60px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
}

.btn-menu {
	border: none;
	background-color: #fff;
	display: none;
}

.btn-menu svg {
	width: 90px;
	height: 60px;
	fill: #bebebe;
	position: absolute;
    left: 83%;
    top: 10px;
}

.nav-modal {
    font-size: 12px;
    font-weight: 600;
}

.nav-modal>li {
    margin-bottom: 12px;
}

.modal {
	position: absolute;
    top: 20px;
    right: 0;
    width: 20%;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 35px 15px;
    box-shadow: 0 5px 6px #f4f4f4;
    border-radius: 10px;
}

.dj {
	background: url(img/DJ.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	width: 100%;
	max-width: 2000px;
	height: 1037px;
	position: relative;
}

.box-disco {
	margin-top: 100px;
}

 .heading {
	font-size: 40px;
	font-weight: 200;
	text-transform: uppercase;
	position: relative;
}

.heading1 {
	color: #98684c;
    text-align: center;
    letter-spacing: 2px;
}

.heading:before {
	content: '';
    position: absolute;
    top: 50%;
    background-color: #000;
    height: 2px;
} 

.heading1:before {
    width: 360px;
    right: 38%;  
}

.heading2:before {
	width: 450px;
    right: 35%;
}

.heading3:before {
    width: 640px;
    right: 29%;
}

.heading4:before {
	width: 420px;
}

.heading5:before {
	width: 250px;
	right: 42%; 
}

.heading6:before {
    width: 480px;
}

.page-album {
	padding-top: 150px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.box-album, .box-album2{
	display: flex;
	justify-content: center;
}

.box-album2 {
	padding-top: 110px;
}

.album {
	padding-top: 25px;
}

.album2 {
	padding-top: 45px;
}

.date {
	font-size: 14px;
	font-weight: bold;
	color: #504a48;
}

.hr-line, .hr-line2 {
	border-top: 1px solid #000;
    margin: 12px 0;
}

.hr-line {
	width: 500px;
}

.hr-line2 {
	width: 350px;
}

.music-album {
	font-size: 14px;
	text-transform: uppercase;
}

.box-group {
	padding-left: 30px;
}

.group {
	font-size: 23px;
    font-weight: 600;
}

.text-content {
	width: 100%;
	padding-top: 20px;
}

.play {
	background: url(img/play.png);
	margin-top: 25px;
}

.play2 {
	background: url(img/play2.png);
	margin-top: 25px;
}

.play3 {
	background: url(img/play3.png);
	position: absolute;
	top: 35%;
	left: 45%;
}

.play-content {
	background-repeat: no-repeat;
	width: 196px;
	height: 56px;
}

.text-item {
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
    position: relative;
    left: 40%;
    top: 30%;
}

.text-play a {
	color: #fff;
}

.text-play2 a, .text-play3 a {
	color: #000;
}

.text-play2, .text-play3 {
	color: #000;
}

.box-tours {
	margin-top: 180px;
}

.heading2 {
	color: #62a2ad;
    text-align: center;
    letter-spacing: 3px;
}

.bg {
	background: url(img/bg.png);
	height: 700px;
	position: relative;
}

.bg2 {
	background: url(img/bg2.png); 
	height: 980px;
	margin-top: 150px;
}

.bg, .bg2 {
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-width: 2000px;
}

.content {
	margin-top: 60px;
}

.page-content {
	width: 100%;
	max-width: 1000px;
    margin: 0 auto;
}

.box-content {
	padding-top: 350px;
	width: 100%;
	max-width: 580px;
}

.btn {
	border: 2px solid #b3b5b5;
    color: #000;
    font-weight: bold;
    padding: 25px 68px 20px 53px;
}

.btn-item {
	padding-top: 45px;
	position: relative;
}
 
.iconbtn {
    position: absolute;
    left: 28%;
    top: 70%;
}

.item {
	display: flex;
	justify-content: center;
	margin-bottom: 54px;
}

.item2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-bottom: 54px;
}

.box-compositions {
	padding-top: 160px;
}

.heading3 {
	text-align: center;
    letter-spacing: 3px;
}

.block-bg {
	background-color: #f5f6f6;
	width: 100%;
	max-width: 600px;
	height: 420px;
}

.block-item {
	width: 509px;
    padding: 35px 60px 40px 30px;
}

.hr {
	max-width: 390px;
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.music-group {
	font-size: 23px;
	margin-top: 40px;
	color: #000;
}

.text-video {
	width: 100%;
    max-width: 500px;
    padding-top: 20px;
}

.box-item {
     padding-top: 150px;
}

.btn-content {
	padding-top: 60px;
    position: relative;
}

.button {
	border: 2px solid #b3b5b5;
	color: #000;
	font-size: 14px;
    font-weight: bold;
	padding: 24px 54px 21px 34px;
}

.iconBtn {
	position: absolute;
	left: 80%;
	bottom: 20%;
}

.box-icon {
	display: flex;
    padding-top: 80px;
    padding-left: 25px;
}

.box-btn {
	display: flex;
}

.icon {
	padding: 0 20px 0 5px;
}

.icon-audio {
	background: url(img/audioicon.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 16px;
}

.icon-heart {
	background: url(img/hearticon.png);
	width: 16px;
	height: 14px;
}

.icon-options {
	background: url(img/optionsicon.png);
	width: 16px;
	height: 16px;
}

.icon-buble {
	background: url(img/bubleicon.png);
	width: 15px;
	height: 15px;
}

.video, .music-life, .chill-nation {
	width: 100%;
	max-width: 600px;
	height: 420px;
}

.bg-ocean {
	background: url(img/ocean.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-width: 2000px;
	height: 640px;
	margin-top: 150px;
	position: relative;
}

.vocalists {
    padding-top: 160px;
}

.next {
	background: url(img/nextBlock.png);
	position: absolute;
	top: 36%;
}

.next1 {
	background: url(img/next.png);
	position: absolute;
    top: 36%;
    right: 0;
}

.block-next {
    background-repeat: no-repeat;
	width: 85px;
	height: 171px;
}

.icon-note {
	background: url(img/note.png);
	background-repeat: no-repeat;
	width: 115px;
	height: 29px;
	margin: 0 auto;
}

.text {
	max-width: 420px;
    padding-top: 40px;  
}

.text2 {
    max-width: 940px;
    padding-top: 11px;
}

.text, .text2 {
    width: 100%;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.text3 {
	width: 100%;
	max-width: 530px;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
}

.years {
	width: 100%;
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

.box-disk {
	display: flex;
    justify-content: center;
    padding-top: 80px;
}

.circle {
	background: url(img/circle.png);
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
}

.disk {
	background: url(img/dick.png);
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	margin-left: 38px;
}

.block1 .box-music {
	background-image: url(img/block1.png);
}

.block2 .box-music {
	background-image: url(img/block2.png);
}

.block3 .box-music {
	background-image: url(img/block3.png);	
}

.block4 .box-music {
	background-image: url(img/block4.png);
}

.block5 .box-music {
    background-image: url(img/block5.png);
}

.block6 .box-music {
	background-image: url(img/block6.png);
}

.box-block {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: 870px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 150px;
}

.block {
	display: flex;
	padding: 0 10px 20px;
	width: 33.3%; 
    box-sizing: border-box;
}

.box-music {
	max-width: 100%;
	flex: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.block .inner {
	position: relative;
    padding: 35px 35px 55px;
}

.line {
	width: 100%;
	border-top: 1px solid #000;
	font-size: 5px;
	font-weight: bold;
	color: #000;
	margin-top: 13px;
	margin-bottom: 10px;
}

.nation {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.music-bearson {
	font-size: 23px;
	font-weight: 600;
	color: #000;
}

.text-music {
	width: 100%;
}
.block .numeral {
    position: absolute;
	right: 30px;
}
.block1 .numeral {
    top: 380px;	
}

.block2 .numeral {
    top: 383px;	
}

.block3 .numeral {
    top: 386px;	
}

.block4 .numeral {
    top: 346px;	
}

.block5 .numeral {
    top: 345px;	
}

.block6 .numeral {
    top: 342px;	
}

.bg3 {
	background: url(img/bg3.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-width: 2000px;
	height: 1200px;
}

.page-music {
    margin: 0 auto;
    max-width: 1052px;
    display: flex;
    justify-content: flex-end;
}

.music-composition {
    padding-top: 180px;
    flex: 50% 0 0;
}

.heading4 {
    color: #42717e;
    letter-spacing: 2px;
}

.music-content {
	margin-top: 100px;
}

.muscomposition {
	font-size: 23px;
	font-weight: 400;
}

.composition {
	font-size: 14px;
	width: 270px;
    line-height: 25px;
}

.vertical {
	border-left: 1px solid #000;
	height: 50px;
	margin: 20px 0 15px 34px;
}

.vertical2 {
	border-left: 1px solid #000;
    height: 160px;
    margin: 25px 0 25px 34px;
}

.day {
	font-size: 14px;
	font-weight: bold;
	color: #545353;
}

.composition-text {
    width: 100%;
    max-width: 500px;
}

.horizontal {
	width: 130px;
	border-bottom: 1px solid #000;
	padding: 5px 0;
}

.box-history {
	margin-top: 160px;
	text-align: center;
}

.heading5 {
	letter-spacing: 3px;
    color: #5b5c5a;
}

.box-text {
	width: 100%;
    max-width: 850px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto;
    padding-top: 55px; 
}

.trait {
	width: 100px;
    border-bottom: 1px solid #798285;
    margin-bottom: 15px;
}

.point {
	background: url(img/point.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 8px;
	padding-right: 15px;
}

.box-point {
	margin: 15px 0 0 15px;
    cursor: pointer;
}

.month {
	font-size: 30px;
	text-transform: uppercase;
	color: #798285;
	padding: 0 20px;
}

.month-may {
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	padding: 0 15px;
}

.box-month {
	display: flex;
}

.months {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1800px;
	padding-top: 220px;
}

.text-bg {
	font-size: 13px;
	font-weight: 600;
	width: 200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    color: #5a5a58;
}

.bg4 {
	background: url(img/bg4.png);
	background-repeat: no-repeat;
    background-position: center;
	width: 100%;
	max-width: 2000px;
	height: 840px;
}


.bg5 {
	background: url(img/bg5.png);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 2000px;
	height: 862px;
}

.page-form {
   display: flex;
   justify-content: flex-end;
   max-width: 1100px;
   margin: 0 auto;
}

.box-form {
    flex: 50% 0 0;
    margin-top: 150px;
}

.heading6 {
	letter-spacing: 5px;
    color: #454545;
}

.content-form {
	margin-top: 80px;
	 
}

.line-form {
	width: 380px;
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 30px;
}

.send {
	color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.social {
	border-left: 1px solid #000;
	height: 190px;
	margin-left: 100px;
}

.form-social {
	display: flex;
}

ul {
	list-style-type: none;
}

.soc-item {
	margin-top: 33px;
}

.inst {
   padding-top: 60px;
}

.twit {
   padding-top: 60px;
}


/*MEDIA*/

@media (max-width: 880px) {
	.item-menu {
		font-size: 15px;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.btn-menu {
		display: block;
		padding-top: 20px;
	}

	.dj {
		background-image: url(img/DJ.png);
		width: 100%;
	}

	.heading1 {
		text-align: center;
	}

	.heading:before {
		right: 18%;
	}

	.box-text {
        width: 85%;
	}

	.page-album {
		width: 75%;
        margin: 0 auto;
	}

	.box-album, .box-album2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.box-group {
		padding-top: 60px;
	}

	.album, .album2 {
		padding-left: 35px;
	}

	.hr-line {
		width: 96%;
	}

	.play-content {
		margin: 0 auto;
		margin-top: 30px;
	}

	.play3 {
		top: 0;
		left: 40%;
	}

	.group {
	    font-size: 20px;
	}
    
    .heading3 {
    	font-size: 40px;
    }

	.heading3:before {
		width: 70%;
        right: 15%;
	}
     
    .text-content{
    	max-width: 670px;
    }

	.item, .item2 {
		flex-direction: column;
		width: 70%;
		margin: 0 auto;
	}

	.block-next {
		background: none;
	}
	 
	.block {
		width: 50%;
	}

	.music-bearson {
		font-size: 24px;
	}  

	.block3 .numeral {
        top: 91%;
    }

    .block4 .numeral {
        top: 86%;
    } 

    .bg3 {
    	background-image: url(img/bg3.png);
	    background-size: cover;
	    margin-top: 200px;
    }

    .heading4 {
    	font-size: 40px;
    }

    .heading4:before {
    	width: 85%;
    } 

    .music-composition {
    	flex: 65% 0 0;
    }

    .box-form {
    	margin: 50px auto;
    }
  
}





